div.zoomable {
    width: 400px;
    position: relative;
    z-index :0;
}

div.zoomable img{
    width: 100%;
    height: auto;
    position:relative;
}

div.zoomable div.focus-box{
    box-sizing: border-box;
    border: thin solid white;
    position: absolute;
    z-index: 1;
}

div.zoomed-image {
    position:absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    width: 70%;
}